In [5]:
import os
import pandas as pd
import numpy as np
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt

df = pd.read_csv('Data/Champ/champ.csv')
df.describe()

,game duration,score,goals,assists,saves,shots,bpm,amount collected,amount collected big pads,amount collected small pads,...,avg distance to ball no possession,time behind ball,time in front of ball,time defensive half,time offensive half,time defensive third,time neutral third,time offensive third,demos inflicted,demos taken
count,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,...,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000
mean,377.250379,298.862651,0.749974,0.510644,1.064357,2.211803,344.109118,1950.406355,925.798294,1024.608060,...,2832.519719,242.643620,99.058043,222.370898,119.330368,166.682541,104.777995,70.241144,0.572375,0.572375
std,74.558342,145.879659,0.879913,0.718008,1.057239,1.536442,59.514253,515.370389,418.142955,400.935317,...,309.558371,53.116843,26.891987,50.776788,33.417783,41.653645,25.356632,23.084816,0.822917,0.786610
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,3.850000,0.000000,3.850000,0.000000,3.850000,0.000000,0.000000,0.000000,0.000000
25%,346.000000,192.000000,0.000000,0.000000,0.000000,1.000000,304.000000,1647.000000,622.000000,746.000000,...,2626.000000,219.832500,83.420000,197.200000,99.770000,143.002500,91.802500,55.502500,0.000000,0.000000
50%,376.000000,282.000000,1.000000,0.000000,1.000000,2.000000,343.000000,1935.000000,889.000000,981.000000,...,2811.000000,243.070000,98.735000,222.280000,119.015000,165.915000,104.830000,69.340000,0.000000,0.000000
75%,409.000000,385.000000,1.000000,1.000000,2.000000,3.000000,384.000000,2230.000000,1191.000000,1259.000000,...,3018.000000,265.690000,114.220000,246.920000,138.127500,188.870000,117.547500,83.770000,1.000000,1.000000
max,869.000000,1305.000000,6.000000,6.000000,9.000000,14.000000,964.000000,6309.000000,4169.000000,4464.000000,...,6479.000000,678.700000,301.700000,638.440000,402.380000,497.330000,312.420000,278.000000,7.000000,11.000000

In [2]:
df.head()

,team,player name,platform,game duration,score,goals,assists,saves,shots,bpm,...,time behind ball,time in front of ball,time defensive half,time offensive half,time defensive third,time neutral third,time offensive third,demos inflicted,demos taken,New
0,blue,"Fake Taxi""!",Steam,155,70,0,0,0,1,323,...,81.19,45.69,69.68,57.19,52.64,35.73,38.51,1,0,d9390e87eb78cff72fdd8804df0f50b76a86109f
1,blue,Vasis,Steam,155,42,0,0,0,0,487,...,91.33,43.63,86.54,48.41,56.17,45.59,33.20,0,0,d9390e87eb78cff72fdd8804df0f50b76a86109f
2,blue,Pranock,Steam,155,16,0,0,0,0,235,...,101.12,21.70,86.04,36.78,64.21,42.21,16.40,0,1,d9390e87eb78cff72fdd8804df0f50b76a86109f
3,orange,Simosis,Steam,155,373,2,0,1,2,263,...,107.17,26.87,103.39,30.65,87.83,32.56,13.65,1,1,d9390e87eb78cff72fdd8804df0f50b76a86109f
4,orange,Initial :d,Steam,155,82,0,1,0,0,360,...,108.21,28.83,107.87,29.17,76.17,48.55,12.33,0,0,d9390e87eb78cff72fdd8804df0f50b76a86109f

In [3]:
df = df.rename(columns={"New" : "game_id"})