In [1]:
import os
import pandas as pd
import numpy as np
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt

df = pd.read_csv('Data/Champ/champ.csv')
df.describe()

,game duration,score,goals,assists,saves,shots,bpm,amount collected,amount collected big pads,amount collected small pads,...,avg distance to ball no possession,time behind ball,time in front of ball,time defensive half,time offensive half,time defensive third,time neutral third,time offensive third,demos inflicted,demos taken
count,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,...,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000,56746.000000
mean,377.250379,298.862651,0.749974,0.510644,1.064357,2.211803,344.109118,1950.406355,925.798294,1024.608060,...,2832.519719,242.643620,99.058043,222.370898,119.330368,166.682541,104.777995,70.241144,0.572375,0.572375
std,74.558342,145.879659,0.879913,0.718008,1.057239,1.536442,59.514253,515.370389,418.142955,400.935317,...,309.558371,53.116843,26.891987,50.776788,33.417783,41.653645,25.356632,23.084816,0.822917,0.786610
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,3.850000,0.000000,3.850000,0.000000,3.850000,0.000000,0.000000,0.000000,0.000000
25%,346.000000,192.000000,0.000000,0.000000,0.000000,1.000000,304.000000,1647.000000,622.000000,746.000000,...,2626.000000,219.832500,83.420000,197.200000,99.770000,143.002500,91.802500,55.502500,0.000000,0.000000
50%,376.000000,282.000000,1.000000,0.000000,1.000000,2.000000,343.000000,1935.000000,889.000000,981.000000,...,2811.000000,243.070000,98.735000,222.280000,119.015000,165.915000,104.830000,69.340000,0.000000,0.000000
75%,409.000000,385.000000,1.000000,1.000000,2.000000,3.000000,384.000000,2230.000000,1191.000000,1259.000000,...,3018.000000,265.690000,114.220000,246.920000,138.127500,188.870000,117.547500,83.770000,1.000000,1.000000
max,869.000000,1305.000000,6.000000,6.000000,9.000000,14.000000,964.000000,6309.000000,4169.000000,4464.000000,...,6479.000000,678.700000,301.700000,638.440000,402.380000,497.330000,312.420000,278.000000,7.000000,11.000000

In [2]:
df.head()

,team,player name,platform,game duration,score,goals,assists,saves,shots,bpm,...,time behind ball,time in front of ball,time defensive half,time offensive half,time defensive third,time neutral third,time offensive third,demos inflicted,demos taken,New
0,blue,"Fake Taxi""!",Steam,155,70,0,0,0,1,323,...,81.19,45.69,69.68,57.19,52.64,35.73,38.51,1,0,d9390e87eb78cff72fdd8804df0f50b76a86109f
1,blue,Vasis,Steam,155,42,0,0,0,0,487,...,91.33,43.63,86.54,48.41,56.17,45.59,33.20,0,0,d9390e87eb78cff72fdd8804df0f50b76a86109f
2,blue,Pranock,Steam,155,16,0,0,0,0,235,...,101.12,21.70,86.04,36.78,64.21,42.21,16.40,0,1,d9390e87eb78cff72fdd8804df0f50b76a86109f
3,orange,Simosis,Steam,155,373,2,0,1,2,263,...,107.17,26.87,103.39,30.65,87.83,32.56,13.65,1,1,d9390e87eb78cff72fdd8804df0f50b76a86109f
4,orange,Initial :d,Steam,155,82,0,1,0,0,360,...,108.21,28.83,107.87,29.17,76.17,48.55,12.33,0,0,d9390e87eb78cff72fdd8804df0f50b76a86109f

In [3]:
# Rename the last feature to represent the game ID
# Check other features for any glaring name problems

df = df.rename(columns={"New" : "game_id"})
list(df)

['team',
 'player name',
 'platform',
 'game duration',
 'score',
 'goals',
 'assists',
 'saves',
 'shots',
 'bpm',
 'amount collected',
 'amount collected big pads',
 'amount collected small pads',
 'count collected big pads',
 'count collected small pads',
 'amount stolen',
 'amount stolen big pads',
 'amount stolen small pads',
 'count stolen big pads',
 'count stolen small pads',
 '0 boost time',
 'avg speed',
 'total distance',
 'time slow speed',
 'time boost speed',
 'time supersonic speed',
 'time on ground',
 'time low in air',
 'time high in air',
 'avg distance to ball',
 'avg distance to ball has possession',
 'avg distance to ball no possession',
 'time behind ball',
 'time in front of ball',
 'time defensive half',
 'time offensive half',
 'time defensive third',
 'time neutral third',
 'time offensive third',
 'demos inflicted',
 'demos taken',
 'game_id']

In [4]:
# Replace spaces in features with underscores for simplicity

for name in df.columns:
    df = df.rename(columns={name : name.replace(' ', '_')})

In [5]:
# Remove all games not consisting of 3 players on each team

df['game_id'] = df.game_id.astype('str')
df = df.groupby('game_id')
df = df.filter(lambda x: len(x) == 6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56742 entries, 0 to 56745
Data columns (total 42 columns):
team                                   56742 non-null object
player_name                            56735 non-null object
platform                               56742 non-null object
game_duration                          56742 non-null int64
score                                  56742 non-null int64
goals                                  56742 non-null int64
assists                                56742 non-null int64
saves                                  56742 non-null int64
shots                                  56742 non-null int64
bpm                                    56742 non-null int64
amount_collected                       56742 non-null int64
amount_collected_big_pads              56742 non-null int64
amount_collected_small_pads            56742 non-null int64
count_collected_big_pads               56742 non-null int64
count_collected_small_pads             56742 non-null int64
amount_stolen                          56742 non-null int64
amount_stolen_big_pads                 56742 non-null int64
amount_stolen_small_pads               56742 non-null int64
count_stolen_big_pads                  56742 non-null int64
count_stolen_small_pads                56742 non-null int64
0_boost_time                           56742 non-null float64
avg_speed                              56742 non-null int64
total_distance                         56742 non-null int64
time_slow_speed                        56742 non-null float64
time_boost_speed                       56742 non-null float64
time_supersonic_speed                  56742 non-null float64
time_on_ground                         56742 non-null float64
time_low_in_air                        56742 non-null float64
time_high_in_air                       56742 non-null float64
avg_distance_to_ball                   56742 non-null int64
avg_distance_to_ball_has_possession    56742 non-null int64
avg_distance_to_ball_no_possession     56742 non-null int64
time_behind_ball                       56742 non-null float64
time_in_front_of_ball                  56742 non-null float64
time_defensive_half                    56742 non-null float64
time_offensive_half                    56742 non-null float64
time_defensive_third                   56742 non-null float64
time_neutral_third                     56742 non-null float64
time_offensive_third                   56742 non-null float64
demos_inflicted                        56742 non-null int64
demos_taken                            56742 non-null int64
game_id                                56742 non-null object
dtypes: float64(14), int64(24), object(4)
memory usage: 18.6+ MB

In [9]:
# This section deals with team stats

'''
Create opponent columns for each entry for machine learning training.
This allows the model to check how a team stacks up to its oppoenet 
instead of to the population of all teams across all games.
'''

# Create dataframe for team stats

_ = df.to_dict()
df_stat = pd.DataFrame(columns=_)
players_grouped_by_game = df.groupby(['game_id', 'team'], as_index=False)
df_stat = players_grouped_by_game.mean()
# df_stat['game_goal_avg'] = df.groupby(['game_id']).mean()
df_stat.head(6)

,game_id,team,game_duration,score,goals,assists,saves,shots,bpm,amount_collected,...,avg_distance_to_ball_no_possession,time_behind_ball,time_in_front_of_ball,time_defensive_half,time_offensive_half,time_defensive_third,time_neutral_third,time_offensive_third,demos_inflicted,demos_taken
0,00089318454b629bef1a7ef8e887f1f6965d8c65,blue,458.0,554.000000,2.333333,2.000000,0.333333,4.000000,407.000000,2594.333333,...,3349.666667,299.103333,100.850000,249.120000,150.833333,176.430000,128.640000,94.883333,0.333333,0.333333
1,00089318454b629bef1a7ef8e887f1f6965d8c65,orange,458.0,330.333333,1.000000,0.666667,1.333333,1.333333,330.333333,2239.333333,...,2880.333333,276.066667,123.850000,292.890000,107.023333,221.820000,128.290000,49.810000,0.333333,0.333333
2,000b840988f5d52c4e284ca2730d946fba72f250,blue,393.0,293.000000,0.333333,0.333333,2.000000,1.333333,414.333333,2271.333333,...,2568.666667,221.570000,114.860000,209.313333,127.120000,158.243333,99.946667,78.240000,0.333333,0.333333
3,000b840988f5d52c4e284ca2730d946fba72f250,orange,393.0,510.333333,2.000000,1.333333,0.333333,4.666667,296.666667,1635.666667,...,2666.000000,246.806667,89.730000,228.040000,108.493333,173.393333,98.256667,64.890000,0.333333,0.333333
4,000f168e31f0c3f5ada5b5c709e250e1182a8147,blue,304.0,198.333333,0.000000,0.000000,1.333333,1.000000,329.333333,1603.000000,...,2888.666667,192.236667,90.430000,194.620000,88.046667,145.150000,89.620000,47.893333,0.000000,1.000000
5,000f168e31f0c3f5ada5b5c709e250e1182a8147,orange,304.0,322.000000,1.000000,0.666667,0.333333,2.333333,317.333333,1521.333333,...,2755.000000,224.686667,61.386667,173.370000,112.706667,122.420000,102.870000,60.783333,1.000000,0.000000

In [10]:
# add win column

df_stat['game_goal_avg'] = df_stat['goals'].groupby(df_stat['game_id']).transform('mean')

df_stat['win'] = df_stat[['goals', 'game_goal_avg']].apply(lambda x: 1 if x['goals'] > x['game_goal_avg'] else 0, axis=1)
df_stat.head()

,game_id,team,game_duration,score,goals,assists,saves,shots,bpm,amount_collected,...,time_in_front_of_ball,time_defensive_half,time_offensive_half,time_defensive_third,time_neutral_third,time_offensive_third,demos_inflicted,demos_taken,game_goal_avg,win
0,00089318454b629bef1a7ef8e887f1f6965d8c65,blue,458.0,554.000000,2.333333,2.000000,0.333333,4.000000,407.000000,2594.333333,...,100.85,249.120000,150.833333,176.430000,128.640000,94.883333,0.333333,0.333333,1.666667,1
1,00089318454b629bef1a7ef8e887f1f6965d8c65,orange,458.0,330.333333,1.000000,0.666667,1.333333,1.333333,330.333333,2239.333333,...,123.85,292.890000,107.023333,221.820000,128.290000,49.810000,0.333333,0.333333,1.666667,0
2,000b840988f5d52c4e284ca2730d946fba72f250,blue,393.0,293.000000,0.333333,0.333333,2.000000,1.333333,414.333333,2271.333333,...,114.86,209.313333,127.120000,158.243333,99.946667,78.240000,0.333333,0.333333,1.166667,0
3,000b840988f5d52c4e284ca2730d946fba72f250,orange,393.0,510.333333,2.000000,1.333333,0.333333,4.666667,296.666667,1635.666667,...,89.73,228.040000,108.493333,173.393333,98.256667,64.890000,0.333333,0.333333,1.166667,1
4,000f168e31f0c3f5ada5b5c709e250e1182a8147,blue,304.0,198.333333,0.000000,0.000000,1.333333,1.000000,329.333333,1603.000000,...,90.43,194.620000,88.046667,145.150000,89.620000,47.893333,0.000000,1.000000,0.500000,0